<div class="row">
  <form [formGroup]="addProductForm" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <div class="input-field">
          <select class="browser-default" formControlName="entryType">
            <option value="" disabled selected hidden>Select a entry type</option>
            <option *ngFor="let item of entryTypes | enum" [value]="item.key">{{item.value}}</option>
          </select>
        </div>
      </div>
      <div class="input-field col s6">

        <select class="browser-default" formControlName="productType">
          <option value="" disabled selected hidden>Select a product type</option>
          <option *ngFor="let item of productTypes | enum" [value]="item.key">{{item.value}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select #selectWarehouses class="browser-default" formControlName="warehouse">
          <option value="" disabled selected hidden>Select a warehouse</option>
          <option *ngFor="let item of dataWarehouses" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="input-field col s6">
        <label for="expired_date">Expired Date</label>
        <input id="expired_date" type="date" placeholder="" formControlName="expireDate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="last_name" type="text" formControlName="productName">
        <label for="last_name">Name Product</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" formControlName="productDescription">
        <label for="last_name">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="last_name" type="text" formControlName="imageUrl">
        <label for="last_name">Image Url</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="number" formControlName="purchasePrice">
        <label for="last_name">Purchase Price</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input id="last_name" type="number" formControlName="salesPrice">
        <label for="last_name">Sales Price</label>
      </div>
      <div class="input-field col s4">
        <input id="last_name" type="number" formControlName="weight">
        <label for="last_name">Weight</label>
      </div>
      <div class="input-field col s4">
        <input id="last_name" type="number" formControlName="quantity">
        <label for="last_name">quantity</label>
      </div>
    </div>
  </form>
</div>
<button class="btn waves-effect waves-light" [disabled]="!addProductForm.valid" (click)="saveProduct()">Submit
  <i class="material-icons right">send</i>
</button>