<div class="row">
  <div class="col s12">
    <h1 class="center-align">Inventory Entries</h1>
  </div>
</div>
<table cdk-table [dataSource]="data$" class="highlight">

  <ng-container cdkColumnDef="postingDate">
    <th cdk-header-cell *cdkHeaderCellDef> Posting Date </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.postingDate | date : 'dd/MM/yyyy h:mm a'}} </td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="entryType">
    <th cdk-header-cell *cdkHeaderCellDef> entryType </th>
    <td cdk-cell *cdkCellDef="let row"> {{ EntryType[row.entryType] }} </td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="warehouse">
    <th cdk-header-cell *cdkHeaderCellDef> warehouse </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.warehouse?.name}} </td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="product">
    <th cdk-header-cell *cdkHeaderCellDef> product </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.product.name}} </td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="expireDate">
    <th cdk-header-cell *cdkHeaderCellDef> expired date </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.product.expireDate | date : 'dd/MM/yyyy h:mm a'}} </td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="image">
    <th cdk-header-cell *cdkHeaderCellDef> image </th>
    <td cdk-cell *cdkCellDef="let row"><img [src]="row.product.imageUrl"></td>
    <!-- no footer -->
  </ng-container>

  <ng-container cdkColumnDef="quantity">
    <th cdk-header-cell *cdkHeaderCellDef> quantity </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.quantity}} </td>
    <!-- no footer -->
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="Columns$.value"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: Columns$.value" [ngClass]="{'red' : row.entryType == 1 || row.entryType == 5, 
                                                                        'green' : row.entryType == 0 || row.entryType == 4, 
                                                                        'yellow' : row.entryType == 3 }"></tr>
</table>

<ul class="pagination">
  <li class="waves-effect"
    *ngFor="let item of data$ | async | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
  </li>
</ul>

<pagination-controls class="center-align" (pageChange)="pageChanged($event)" directionLinks="true" previousLabel="Previous" nextLabel="Next"
  screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
</pagination-controls>