<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">add</i>Add Product</div>
        <div class="collapsible-body">
            <app-add-product></app-add-product>
        </div>
    </li>
</ul>
<app-warehouse-ledger-entry-table></app-warehouse-ledger-entry-table>