<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Inventory</a>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>